<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 連線參數設定 -->
    <add key="dbCon" value="server=localhost;database=ProductCenter;uid=sa;pwd=piggy;"/>
    <add key="dbCon_PKEF" value="server=localhost;database=PKEF;uid=sa;pwd=piggy;"/>
    <!--<add key="dbCon_PKSYS" value="server=localhost;database=PKSYS;uid=sa;pwd=piggy;"/>-->
    <add key="dbCon_PKSYS" value="server=PKDB\PKSQL;database=PKSYS;uid=efsql;pwd=EfSql!2#;"/>
    <add key="dbCon_Product" value="server=localhost;database=ProductCenter;uid=sa;pwd=piggy;"/>
    <add key="dbCon_PKWeb" value="server=localhost;database=PKWeb;uid=sa;pwd=piggy;"/>
    <add key="dbCon_ClickLog" value="server=localhost;database=PKClickLOG;uid=sa;pwd=piggy;"/>
    <!-- 基本參數設定 -->
    <add key="DiskUrl" value="D:\_MyWork\_Prokits\產品中心\B_程式碼\ProductCenter\"/>
    <add key="WebUrl" value="http://localhost/ProductCenter/"/>
    <add key="Web_Name" value="產品中心"/>
    <add key="Dealer_WebUrl" value="http://localhost/eService/"/>
    <add key="ref_WebUrl" value="http://localhost/ProductCenter/Data_File/"/>
    <add key="API_WebUrl" value="http://localhost/API/"/>
    <add key="RefUrl" value="http://localhost:8081/"/>
    <add key="CDN_Url" value="http://cdn.prokits.com.tw/"/>
    <add key="BPMUrl" value="http://flowtest.prokits.com.tw:8086/NaNaWeb/"/>
    <add key="API_PDFLoginID" value="PDF"/>
    <add key="API_PDFLoginPwd" value="iLovePK-PDF"/>
    <add key="PDF_Key" value="ZE9VRFZRVURdVERVUkpURFdVSlVWSl1dXV0="/>
    <!-- ResourcePool Server設定 -->
    <!--<add key="File_DiskUrl" value="\\PKRC9\PKResource\"/>
    <add key="File_WebUrl" value="http://pkresource.prokits.com.tw/"/>-->
    <add key="File_DiskUrl" value="D:\_MyWork\_Prokits\產品中心\B_程式碼\ProductCenter\Data_File\"/>
    <add key="File_WebUrl" value="http://localhost/ProductCenter/Data_File/"/>
    <add key="ValidCode_Pwd" value="1q#E0Vhp/s"/>
    <!-- AD設定 -->
    <add key="AD_Path" value="LDAP://DC=prokits,DC=com,DC=tw"/>
    <!-- 系統Email -->
    <add key="SysMail_Sender" value="pkmailman@mail.prokits.com.tw"/>
    <!-- DES Key,8碼英文 -->
    <add key="DesKey" value="PKesvCDy"/>
    <!-- FTP參數設定 -->
    <add key="File_Folder" value="ProductCenter/"/>
    <add key="FTP_Username" value="ftpuser"/>
    <add key="FTP_Password" value="test1234"/>
    <add key="FTP_Url" value="ftp://localhost/"/>
    <!-- API固定的取用ID(無期限) -->
    <add key="API_TokenID" value="f507450f1d94dec7ac6a268654eca5f1"/>
    <!-- ** WebService ** -->
    <add key="API_GetERPData.ws_GetERPData" value="http://api.prokits.com.tw/WebService/ws_GetERPData.asmx"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- [上傳設定]上傳大小(預設值 4096KB<4 MB>, 上限 2097151KB<2 GB>, 目前 200 MB, 單位KB)-->
    <httpRuntime maxRequestLength="204800" executionTimeout="900" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- 自訂錯誤 -->
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/error.aspx"/>
    <authentication mode="Windows"/>
    <!-- ResourcePool Server設定 -->
    <!--<identity impersonate="true" userName="prokits\RCUpload" password="`1234%PK" />-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!-- 新增自訂控制項 -->
        <add tagPrefix="asp" namespace="CustomController"/>
      </controls>
    </pages>
  </system.web>
  <!-- SmtpClient 宣告 -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.prokits.com.tw" port="25" userName="pkmailman" password="PK!@#mail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <!-- [上傳設定]IIS7 檔案上傳限制(200MB = 1024*1024*200)-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200"/>
      </requestFiltering>
    </security>
    <!--移除相容性檢視-->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="index.aspx"/>
        <remove value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>