.scrollup
{
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    text-indent: -9999px;
    background: url('icon_top.png') no-repeat;
}
